.button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    padding: 0.7rem;
    border: 1px solid #a8a8a8;
    margin-top: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    color: white;
    background-color: grey;
    // background-color: $dark-blue;
    line-height: 1.4;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    width: 100%;
    box-shadow: 5px 5px 5px #d8d8d8;

    &:hover {
        animation: 0.5s ease-in 1 fadeInGrey;
        -webkit-animation: 0.5s ease-in 1 fadeInGrey;
        background: lighten(grey, 20%);
    }

    &-blue {
        background-color: $dark-blue;
        background-image: linear-gradient(to top left, $dark-blue, lighten($dark-blue, 15%));

        &:hover {
            background: lighten($dark-blue, 20%);
            animation: 0.5s ease-in 1 fadeInBlue;
            -webkit-animation: 0.5s ease-in 1 fadeInBlue;
        }
    }

    &-red {
        background-color: $dark-red;
        background-image: linear-gradient(to top left, $dark-red, lighten($dark-red, 15%));
        cursor: not-allowed;

        &:hover {
            background: lighten($dark-red, 20%);
            animation: none;
            -webkit-animation: none;
        }
    }

    &-red-enabled {
        background-color: $dark-red;
        background-image: linear-gradient(to top left, $dark-red, lighten($dark-red, 15%));

        &:hover {
            background: lighten($dark-red, 20%);
            animation: none;
            -webkit-animation: none;
        }
    }
}
