// Media Queries for bigger screens

@media screen and (min-width: 1080px) {
    .bottom-nav {
        bottom: unset;
    }

    .main-container {
        margin: 7em auto 3.2rem;
    }

    .robin {
        max-width: 300px;
        float: right;
    }

    .main-container .secondMenu {
        top: 76px;
        height: 50px;
        display: flex;
        align-items: center;
    }

    .main-container .details_header {
        margin-top: 125px;
    }

    .button,
    .packed-btn {
        height: 60px;
        width: unset;
        // width: 125px;
    }

    select {
        width: 350px;
    }
}
