@import url("https://fonts.googleapis.com/css?family=K2D");

html {
    font-size: 100%;
    font-family: "K2D", sans-serif;
}

h2 {
    display: flex;
    justify-content: center;
}

#root {
    background-color: white;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    height: 3rem;
    align-items: center;
    border-top: 1px solid #b7b7b7;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background: white;
    justify-content: space-evenly;
}

.main-container img {
    width: 100%;
}

.title {
    margin-top: 0;
    background-color: #070711;
    color: white;
    font-size: 2.4rem;
    justify-content: center;
    display: flex;
}

.main-container {
    margin-bottom: 3.2rem;
    color: black;
}

.main-container p {
    line-height: 1.4;
    font-size: 1.2rem;
    padding: 0.5rem;
    flex: auto;
}

.main-container img {
    width: 100%;
}

.bottom-nav a {
    text-align: center;
    color: #666;
}

.bottom-nav a.active {
    color: #4c83e4;
}

.bottom-nav i {
    display: block;
}

.bottom-nav span {
    font-size: 0.85rem;
}

.bottom-nav a:hover {
    cursor: pointer;
    color: black;
}

.repo_list {
    line-height: 3rem;
    font-size: 1.4rem;
    list-style: none;
    padding-left: 0.75rem;
}

.repo_list a {
    text-decoration: none;
    color: black;
    border-left: 5px solid rgb(34, 89, 134);
    padding-left: 2rem;
}

.repo_list a:visited {
    /* color: rgb(34, 89, 134); */
    color: black;
}

.repo_list a:hover {
    /* text-decoration: underline; */
    color: #4e75ba;
    border-left: 5px solid rgb(87, 179, 255);
}

.repos {
    border-bottom: 1px solid rgb(31, 48, 83);
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1080px) {
    .bottom-nav {
        bottom: unset;
        border-bottom: 1px solid #b7b7b7;
        top: 0;
    }

    .main-container {
        max-width: 1200px;
        margin: 4.6rem auto 3.2rem;
    }

    .robin {
        max-width: 300px;
        float: right;
    }

    .main-container .temp_menu {
        top: 76px;
        width: 1200px;
        height: 50px;
        display: flex;
        align-items: center;
    }

    .main-container .details_header {
        margin-top: 125px;
    }
}

.main-container a {
    line-height: 1.4;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.plink {
    display: flex;
    color: black;
}

.text-stock {
    margin: auto;
    text-align: center;
}

.text-name {
    cursor: pointer;
}

.plink:nth-child(even),
.details:nth-child(even) {
    background: rgb(200, 200, 200);
    color: black;
}

.temp_menu {
    background-color: rgb(4, 4, 20);
    position: fixed;
    top: 0;
    width: 100%;
}

.temp_menu a {
    color: white;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    text-decoration: none;
}

.details:first-of-type {
    margin-top: 20px;
}

.detailsHeader {
    margin-top: 125px;
}

.orders-title {
    text-align: center;
    border-bottom: 2px solid gray;
}

/* .orders-p:nth-child(even) {
    background: rgb(200, 200, 200);
    color: black;
} */

.order-div {
    display: flex;
}

.order-div p:first-of-type {
    cursor: pointer;
}

.order-div p:nth-child(2) {
    text-align: right;
    margin-right: 40px;
}

.order-details-div {
    border-bottom: 2px solid rgb(87, 87, 87);
}

.order-person {
    text-align: center;
    font-weight: bold;
}

.packed-btn {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    margin-top: 20px;
    cursor: pointer;
}

.packed-btn:hover {
    background-color: rgb(30, 175, 233);
}
